<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency numbers</title>
    <link rel="shortcut icon" href="./fcf4d5a4-3b5a-492d-843f-4f31d56dcaee.jpg">
    <link rel="stylesheet" href="num.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <h2>Nexus</h2>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Red Zones</a></li>
                <li><a href="#" id="number">Emergency numbers</a></li>
            </ul>
        </nav>
    </div>
    <h1>Voici les principaux numéros d'urgence </h1>

    <div class="emergency-item">
        <h3>Police secours:</h3>
        <a href="tel:117"><strong>117</strong></a>
    </div>

    <div class="emergency-item">
        <h3>Gendarmerie secours : </h3>
        <a href="tel:119"><strong>119</strong></a>
    </div>

    <div class="emergency-item">
        <h3>Sapeurs-pompiers : </h3>
        <a href="tel:118"><strong>118</strong></a>
    </div>

    <div class="emergency-item">
        <h3>Police municipale d'Antananarivo :</h2>
            <a href="tel:+261 20 22 200 40"><strong>+261 20 22 200 40</strong></a>
    </div>

    <div class="emergency-item">
        <h3>Gendarmerie d'Antananarivo :</h3>
        <a href="tel:+261 20 22 227 35"><strong>+261 20 22 227 35</strong></a><br>
        <a href="tel:+261 20 22 227 36 "><strong>+261 20 22 227 36</strong> </a><br>
        <a href="tel:+261 20 22 357 09 "><strong>+261 20 22 357 09</strong></a><br>
        <a href="tel:+261 20 22 357 10 "><strong>+261 20 22 357 10</strong></a>
    </div>

    <div class="emergency-item">
        <h3>Commissariat central de police d'Antananarivo:</h3>
        <a href="tel:+261 20 22 227 36"><strong>+261 20 22 227 36</strong></a>
    </div>
    </div>
</body>


</body>

</html>
