<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency numbers</title>
    <link rel="stylesheet" href="num.css">
</head>

<body>
    <div class="header">
        <div class="logo">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Red Zones</a></li>
                <li><a href="#" id="number">Emergency numbers</a></li>
            </ul>
        </nav>
    </div>
    <h1>Voici les principaux numéros d'urgence </h1>
    <h2>Police secours:</h2>
    <a href="tel:117"><strong>117</strong></a>
    <h2>Gendarmerie secours : </h2>
    <a href="tel:119"><strong>119</strong></a>
    <h2>Sapeurs-pompiers : </h2>
    <a href="tel:118"><strong>118</strong></a>
    <h2>Police municipale d'Antananarivo :</h2>
    <a href="tel:+261 20 22 200 40"><strong>+261 20 22 200 40</strong></a>
    <h2>Gendarmerie d'Antananarivo :</h2>
    <a href="tel:+261 20 22 227 35"><strong>+261 20 22 227 35</strong></a>
    <br>
    <a href="tel:+261 20 22 227 36 "><strong>+261 20 22 227 36</strong> </a>
    <br>
    <a href="tel:+261 20 22 357 09 "><strong>+261 20 22 357 09</strong></a>
    <br>
    <a href="tel:+261 20 22 357 10 "><strong>+261 20 22 357 10</strong></a>
    <h2>Commissariat central de police d'Antananarivo:</h2>
    <a href="tel:+261 20 22 227 36"><strong>+261 20 22 227 36</strong></a>
    </nav>

</body>

</html>
