@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background: black;
    margin: -12px -12px -12px;
}




.navbar ul {
    display: flex;
    gap: 40px;
    max-width: 100;
    overflow-x: auto;
}

#redzone {
    color: orange;
    font-family: "Ubuntu", sans-serif;
    text-decoration: underline;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: orange;
}

.navbar a:active {
    color: white;
}

h1,
h3,
p,
img {
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    margin-left: 15%;
    margin-right: 30%;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 15px -1px 17px 6px orange;
}

img {
    margin-bottom: 20px;
    width: 50%;
    display: block;
    margin-left: 15%;
    margin-right: 30%;
}

h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.zone-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 15%;
    margin-right: 15%;
}

.zone-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(13, 12, 12, 0.436);
    width: calc(50% - 50px);
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 20px;
}

.orange {
    background-color: #ffe0b2;

}

.violet {
    background-color: #d1c4e9;
}

.jaune {
    background-color: #fff9c4;
}

.vert {
    background-color: #c8e6c9;
}

.rose {
    background-color: #f8bbd0;
}

.bleu {
    background-color: #bbdefb;
}
