<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red zones</title>
    <link rel="stylesheet" href="redzone.css">
</head>

<body>
    <div class="header">
        <div class="logo">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#" id="redzone">All Red Zones</a></li>
                <li><a href="#">Emergency numbers</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    </div>
    <h1>Les zones rouges d'Antananarivo</h1>
    <img src="./depositphotos_318112772-stock-photo-capital-of-madagascar-antananarivo.jpg" alt="Antananarivo">
    <h3>1.Manjakaray</h3>
    <h5>Ce quartier du 5ème arrondissement est connu pour être densément peuplé. La densité de population peut parfois
        être associée à des défis sécuritaires dans les zones urbaines.</h5>
    <h3>2.Andravoahangy</h3>
    <h5>Situé dans le 3ème arrondissement, Andravoahangy est une zone commerciale importante avec son marché
        animé.
        Les marchés très fréquentés peuvent parfois être des points chauds pour la petite criminalité.
    </h5>
    <h3>3.Avaradoha</h3>
    <h5>Anjanahary est un quartier du 5ème arrondissement.</h5>
    <h3>4.Anjanahary</h3>
    <h5>Situé dans le 1er arrondissement, Faravohitra est un quartier résidentiel et commercial.
    </h5>
    <h3>5.Faravohitra</h3>
    <h5>Ce quartier du 5ème arrondissement est connu pour être densément peuplé.</h5>
    <h3>6.Ankadifotsy </h3>
    <h5>Ankadifotsy se trouve dans le 3ème arrondissement.</h5>
    <h3>7.Tsiazotafo </h3>
    <h5>Tsiazotafo est un quartier du premiere arrondissement</h5>
    <h3>8.Behoririka</h3>
    <h5>Behoririka, dans le 3ème arrondissement, est un quartier populaire en rénovation.</h5>
    <h3>9.Analakely</h3>
    <h5> Centre du 1er arrondissement, Analakely est une zone très fréquentée pour le commerce. Les zones à
        forte
        concentration de personnes peuvent parfois être sujettes à des problèmes de sécurité.</h5>
    <h3>10.Ambodin’Isotry</h3>
    <h5> Ambodin’Isotry est un quartier du 1er arrondissement.</h5>
    <h3>11.67 ha</h3>
    <h5>Le quartier de 67 ha dans le 1er arrondissement est connu pour sa forte densité de population et sa
        pauvreté, ce qui peut contribuer à des problèmes de sécurité . Certaines sources indiquent que certaines
        parties de 67 ha sont considérées comme craignant un peu .  </h5>
    <h3>12.Andavamamba</h3>
    <h5>Ankorondrano, dans le 3ème arrondissement, est décrit comme un quartier de taille moyenne.</h5>
    <h3>13.Ankorondrano</h3>
    <h5>Ankorondrano, dans le 3ème arrondissement, est décrit comme un quartier de taille moyenne. </h5>
    <h3>14.Ampefiloha</h3>
    <h5>Ampefiloha est situé dans plusieurs arrondissements.</h5>
    <h3>15.Antanimena</h3>
    <h5>Antanimena est un quartier du 3ème arrondissement.</h5>
    <h3>16.Isotry</h3>
    <h5>Isotry, dans le 1er arrondissement, est identifié comme l'un des quartiers les plus densément peuplés et
        les
        plus pauvres de la ville, ce qui est souvent associé à une criminalité plus élevée .</h3>
        <h3>17.Mahamasina</h3>
        <h5>Mahamasina est le chef-lieu du 4ème arrondissement.</h5>
        <h3>18.Tsaralalàna</h3>
        <h5>Tsaralalàna est un quartier du 1er arrondissement. Bien que les extraits ne détaillent pas la
            situation
            sécuritaire, la présence d'une gendarmerie est notée</h5>
</body>
</body>

</html>